{% extends 'index.html' %}

{% block title %}Signup{% endblock %}

{% block body %}

<main>
    <section>
        <div class="col-md-5">
            <form method="post" action="{{ url_for('systemlogin.signup') }}">
                <fieldset>
                  <legend>Signup</legend>
                  <div class="form-group">
                    <label class="form-label mt-4">Username</label>
                    <input type="text" class="form-control" name="username">
                  </div>
                  <div class="form-group">
                    <label  class="form-label mt-4">Password</label>
                    <input type="password" class="form-control"  name="password">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
              </form>
        </div>
    </section>
</main>

{% endblock %}